﻿@model IEnumerable<DemoProject.Models.News>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    <p>
        <a href="@Url.Action("Details", "Home", new {id=item.Id })">@item.Title</a>
           
    </p>
}